<section class="contributors">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="contributors__title">{{ i18n "contributors" }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range $index, $element := where .Data.Pages "Section" "contributors" }}
        <div class="col-xs-12 col-sm-12 col-md-4 contributors__item">
          <div class="contributors__item-title">
            <a class="link bold black" href="{{ .Params.link }}" target="_blank" rel="noreferrer">{{ .Title }}</a>
          </div>
          <div class="contributors__item-description">
            {{ .Content }}
          </div>
        </div>
      {{ end }}
      <div class="col-xs-12 col-sm-12 col-md-4 contributors__item">
        <a href="/contributors/join">
            <span class="button">
              <span class="link bold black">
                {{ i18n "join" }} <span class="arrow">→</span>
              </span>
            </span>
        </a>
      </div>
    </div>
  </div>
</section>
