<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 wrapper">
        <a href="/" class="logo">
          <img src="/img/stableunit-logo-horizontal.svg" alt="Stable Unit"/>
        </a>
        <div class="header__nav-wrapper">
          <img class="header__nav-mobile-button visible-xs" src="/img/menu.svg">
          <div class="header__nav-absolute">
            <div class="header__nav-absolute-inner">
              <div class="row">
                <div class="col-xs-6 col-sm-12">
                  <nav class="header__nav">
                    {{ range .Site.Menus.main }}
                    <a class="header__nav-item underlined" href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                  </nav>
                </div>
                <div class="col-xs-3 col-xs-push-3 visible-xs" style="text-align: right;">
                  <img class="header__nav-mobile-button visible-xs" src="/img/close.svg">
                </div>
              </div>
              <div class="row visible-xs">
                <div class="col-xs-12">
                  {{ partial "whitepapers" . }}
                </div>
              </div>
              <div class="row visible-xs">
                <div class="col-xs-12">
                  {{ partial "social" . }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
