<section class="stableunit" id="stableunit">
  <div class="container">
    
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ i18n "how" }}</h2>
      </div>
    </div>
    <div class="row slider">
      <div class="col-xs-12 col-sm-2 col-md-push-1">
        <ul class="slider__buttons">
          {{ range $index, $element := where .Data.Pages "Section" "how" }}
            <li>
              {{ if .Params.disabled }}
                <span class="slider__button link disabled bold">{{ .Title }}</span>
              {{ else }}
                <a href="{{ .Permalink }}" class="link bold black slider__button {{ if (eq $index 0) }}slider__button_active{{ end }}">{{ .Title }}</a>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-8 col-md-push-1 slider__content">
        {{ range $index, $element := where .Data.Pages "Section" "how" }}
        <div class="slider__item {{ if (eq $index 0) }}slider__item_active{{ end }} content" data-id="{{ .Permalink }}">
          {{ .Content }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
