<div class="legal">
  <div class="legal__close" onclick="onLegalHide()">x</div>
  <span>Если вы из России и вас заинтересовала идея StableUnit, то добро пожаловать в наш <a href="https://t.me/stableunit_ru">русскоязычный Telegram чат</a>, где мы сможем ответить на все ваши вопросы и вы сможете узнать о нём подробнее.</span>
</div>
<script>
  function initLegal() {
      if (!window || !window.localStorage) {
          return;
      }

      const legalHidden = window.localStorage.getItem('russianLegalHidden');

      if (legalHidden) {
          return;
      }

      const legal = document.querySelector('.legal');

      if (!legal) {
          return;
      }

      legal.style.display = 'block';
  }

  function onLegalHide() {
      if (!window || !window.localStorage) {
          return;
      }

      window.localStorage.setItem('russianLegalHidden', 'true');

      const legal = document.querySelector('.legal');

      if (!legal) {
          return;
      }

      legal.style.display = 'none';
  }

  initLegal();
</script>