<div class="social">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="heading__subscription-block">
        <a href="https://goo.gl/forms/MDZ2sY1VTGAu8Eu22" class="link bold" target="_blank">Subscribe →</a>
      </div>
      <div class="heading__links-block">
        <a href="/proof-of-concept" class="link bold">Proof of concept →</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3 class="social__follow-us">Follow us:</h3>
      <ul class="social__list">
        {{ range .Site.Data.meta.social }}
        <li class="social__item">
          <a class="social__item-link" href="{{ .url }}" target="_blank">
            {{ partial "share-link.html" .title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
