<div class="social">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="heading__subscription-block">
        <form class="heading__subscription-form" action="https://app.freshmail.com//en/actions/subscribe/" method="post">
          <input type="hidden" name="subscribers_list_hash" value="9cj9uegruy" />
          <input type="hidden" name="ml-submit" value="1" />
          <label class="heading__subscription-label-container">
            <span class="heading__subscription-label">Subscribe for updates:</span>
            <div class="heading__subscription-input-container link bold">
              <input name="freshmail_email" class="heading__subscription-input" type="email" placeholder="{{ i18n "your_email" }}">
              <input class="heading__subscription-submit" type="submit" value=" →">
            </div>
          </label>
        </form>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3 class="social__follow-us">Follow us:</h3>
      <ul class="social__list">
        {{ range .Site.Data.meta.social }}
        <li class="social__item">
          <a class="social__item-link" href="{{ .url }}" target="_blank">
            {{ partial "share-link.html" .title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
