<section class="team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="team__title">{{ i18n "team" }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range $index, $element := where .Data.Pages "Section" "team" }}
      <div class="coll-xs-12 col-sm-12 col-md-4 team__col">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-9 team__item">
            <div class="team__item-inner">
              <img class="team__item-image" src="{{ .Params.avatar }}" alt="{{ .Title }}">
              <div class="team__inner-info">
                <a href="{{ .Params.link }}" class="link bold black team__item-title" target="_blank" rel="noreferrer">{{ .Title }}</a>
                <p class="team__item-role">{{ .Params.role }}</p>
                <p class="team__item-subtitle">{{ .Params.subtitle }}</p>
              </div>
            </div>
            <div class="team__more-arrow hidden-xs">
              <div class="team__more-arrow-image"><</div>
            </div>
            <div class="team__more-text hidden-xs">
              {{ .Content }}
            </div>
            <div class="team__more-mobile-text visible-xs">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
