<section class="vision" id="vision">
  {{ with .Site.GetPage "page" "landing/_vision.md" }}
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <h2>{{ .Title }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ partial "scheme.html" . }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5 vision__musk pull-right">
          This is famous <a class="link bold" href="https://waitbutwhy.com/2017/04/neuralink.html#part4" target="_blank" rel="noreferrer">Elon Musk Companies Formula</a>
        </div>
      </div>
      <div class="separator dark hidden-xs"></div>
    </div>
  {{ end }}
</section>
