<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    {{ $baseUrl := $.Site.BaseURL }}
    {{ if getenv "CONTEXT" }}
      {{ if eq "production" (getenv "CONTEXT") }}
        {{ $baseUrl := getenv "URL" }}
      {{ else }}
        {{ $baseUrl := getenv "DEPLOY_PRIME_URL" }}
      {{ end }}
    {{ end }}
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="{{ .Site.Title }}">
    <meta name="theme-color" content="#151515">
    <meta property="og:title" content="Stable Unit"/>
    <meta property="og:description" content="{{ .Site.Title }}"/>
    <meta property="og:url" content= "{{ $baseUrl }}" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Stable Unit">
    <meta property="og:image" content="{{ $baseUrl }}stableunit_splash.png">
    <meta property="og:image:width" content="958">
    <meta property="og:image:height" content="504">
    <meta property="og:image" content="{{ $baseUrl }}stableunit_splash_small.png">
    <meta property="og:image:width" content="280">
    <meta property="og:image:height" content="280">
    <base href="{{ $baseUrl }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="css/main.css"/>
    {{ template "_internal/google_analytics_async.html" . }}
  </head>
  <body>

    <div class="wrap">
      {{ block "header" . }}{{ partial "header" . }}{{end}}


      {{ block "main" . }}{{end}}


      {{ block "footer" . }}{{ partial "footer" . }}{{end}}
    </div>

    <script src="app.js"></script>

  </body>
  {{ partial "yametrika" . }}
  {{ partial "yashare" . }}
</html>
