<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    {{ $baseUrl := $.Site.BaseURL }}
    {{ if getenv "CONTEXT" }}
      {{ if eq "production" (getenv "CONTEXT") }}
        {{ $baseUrl := getenv "URL" }}
      {{ else }}
        {{ $baseUrl := getenv "DEPLOY_PRIME_URL" }}
      {{ end }}
    {{ end }}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{ partial "meta.html" $baseUrl }}
    <base href="{{ $baseUrl }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="css/main.css"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117343453-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117343453-1');
    </script>

  </head>
  <body>

    <div class="wrap">
      {{ block "header" . }}{{ partial "header" . }}{{end}}


      {{ block "main" . }}{{end}}


      {{ block "footer" . }}{{ partial "footer" . }}{{end}}
    </div>

    <script src="app.js"></script>
  </body>
</html>
